@charset "utf-8";

/* ----------------------------------------::::IMPORT::::---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

/* ----------------------------------------::::RESET::::---------------------------------------- */
html *{max-height:999999px} /* font size bug fix */
html,body{margin:0px;padding:0px;width:100%;font-size:10px;font-family:'Teko', sans-serif;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;/*letter-spacing:-1px*/}
ul,ol,li,dl,dd,dt,input,h1,h2,h3,h4,h5,h6,p,b,input,button,textarea,fieldset,legend,td,th{margin:0px;padding:0px;font-weight:300;word-break:keep-all;color:#000}
li{list-style:none}
fieldset,img,a{border:0px}
a{text-decoration:none}
legend,.blind{position:absolute;top:0;left:-10000px;width:0;height:0;overflow:hidden;font-size:0;line-height:0}
caption{display:none}
button,label{cursor:pointer;border:none;background-color:transparent}
button{overflow:visible\9}	/* button fix for ie8 */
input,textarea,button,select,option{font-family:'Teko', sans-serif}
table{width:100%;border-collapse:collapse;border-spacing:0;text-align:left; table-layout:fixed}
table th, table td{text-align:left; word-break:break-word;word-wrap:break-word}
input::-webkit-input-placeholder{color:#929292}
input::-moz-placeholder{color:#929292}
input:-moz-placeholder{color:#929292}
input:-ms-input-placeholder{color:#929292}
textarea::-webkit-input-placeholder{color:#929292}
textarea::-moz-placeholder{color:#929292}
textarea:-moz-placeholder{color:#929292}
textarea:-ms-input-placeholder{color:#929292}
input:focus::-webkit-input-placeholder{color:transparent!important}
input:focus::-moz-placeholder{color:transparent!important}
input:focus:-moz-placeholder{color:transparent!important}
input:focus:-ms-input-placeholder{color:transparent!important}
textarea:focus::-webkit-input-placeholder{color:transparent!important}
textarea:focus::-moz-placeholder{color:transparent!important}
textarea:focus:-moz-placeholder{color:transparent!important}
textarea:focus:-ms-input-placeholder{color:transparent!important}
header, footer, section, article, aside, nav, address{ display:block; margin:0} /* ie8 */

/* ----------------------------------------::::ANIMATION::::---------------------------------------- */
.ani-enable,
.header-panel.bottom,
.header-panel.bottom-structure,
.header-panel.bottom-logo,
.header-panel.bottom-logo *,
.gnb-content .table,
.gnb-content .menu-btn,
.btn.btn-scrolltop,
.slider.slider-v3.theme-pc .slider-slide.ani-enable,
.slider.slider-v3.theme-pc .slider-slide.ani-enable *{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
.ani-disable{-webkit-transition:0s;-moz-transition:0s;-ms-transition:0s;-o-transition:0s;transition:0s;animation:none}

/* ----------------------------------------::::SET-UP::::---------------------------------------- */
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.mobile{display:none}
.align-left{text-align:left}
.align-center{text-align:center}
.align-right{text-align:right}
.align-top{vertical-align:top}
.align-middle{vertical-align:middle}
.align-bottom{vertical-align:bottom}
.size-full{width:100%;height:100%}
.size-fullwidth{width:100%}
.size-fullheight{height:100%}
.size-contain{max-width:1140px;position:relative;margin:0 auto;box-sizing:border-box}
.direction-ltr{direction:ltr}
.direction-rtl{direction:rtl}

/* Class:Space */
.space{box-sizing:border-box;display:inline-block;width:100%}
.space.space-v1{height:75px}

/* Class:Button */
.btn.btn-scrolltop{visibility:hidden;opacity:0;position:fixed;bottom:0;right:0;background:url("../img/icon/btn_scroll_top.png") center center no-repeat;background-size:100% 100%;z-index:100;width:50px;height:50px;margin:30px;box-sizing:border-box}
.btn.btn-scrolltop.active{visibility:visible;opacity:0.5}
.btn.btn-scrolltop.active:hover{opacity:1}

.btn.btn-close{background:url("../img/icon/popup_close.png") center center no-repeat;background-size:75% auto;width:50px;height:50px;display:inline-block}

/* Class:Table */
.table{display:table;width:100%}
.table.fixed{table-layout:fixed}
.table.auto{table-layout:auto}
.table-tr{display:table-row}
.table-th,
.table-td{display:table-cell}
.table-colgroup{display:table-column-group}
.table-col{display:table-column}
.table.table-v2{display:block;font-size:0}
.table.table-v2 .table-td{display:inline-block;font-size:10px}

/* Class:Slider */
.slider{width:100%;position:relative;overflow:hidden;z-index:0}
.slider .slider-container{box-sizing:border-box;position:relative}
.slider .slider-slide{box-sizing:border-box;position:relative;font-size:10px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}

.slider.slider-v2 .slider-container{margin:0 -25px}
.slider.slider-v2 .slider-slide{padding:0 25px;height:100%}

.slider.slider-v3 .slider-static{height:80px;white-space:nowrap;font-size:18px;font-weight:600;padding-right:20px;color:#fff;line-height:20px}
.slider.slider-v3 .slider-dynamic{width:100%;height:80px}
.slider.slider-v3 .slider-container{height:80px}

/* Class:Ratio */
.ratio{box-sizing:border-box;position:relative;width:100%;padding-top:100%}
.ratio .ratio-container{position:absolute;top:0;bottom:0;left:0;right:0;background-color:#000}

/* Class:Img */
.img.img-cover{height:100%;position:relative;overflow:hidden}
.img.img-cover .block-background{position:absolute;top:-999px;right:-999px;left:-999px;bottom:-999px;margin:auto;z-index:0;min-width:100%;width:expression(this.width < 100% ? 100%:true);min-height:100%;height:expression(this.height < 100% ? 100%:true)}

.img.img-fit{height:100%;position:relative}
.img.img-fit .block-background{width:100%;height:100%}

.img.img-auto{position:relative}
.img.img-auto .block-background{width:100%;display:block}

/* Class:Block */
.block.block-slide1{width:100%;height:100vh;position:relative;overflow:hidden}
.block.block-slide1 .block-layer{position:absolute;top:0;left:0;background:url("../img/icon/gra.png") center center no-repeat;background-size:100% 100%;z-index:1;width:100%;height:120px;opacity:0.2}
.block.block-slide1 .block-background{position:absolute;top:-999px;right:-999px;left:-999px;bottom:-999px;margin:auto;z-index:0;min-width:100%;width:expression(this.width < 100% ? 100%:true);min-height:100%;height:expression(this.height < 100% ? 100%:true)}

.block.block-slide2 .block-container{table-layout:fixed;width:100%;height:80px}
.block.block-slide2 .block-wrapper{font-size:0}
.block.block-slide2 .block-txt{font-size:18px;font-weight:300;color:#fff;display:inline-block;width:100%;line-height:20px}

.block.block-text1 .block-container{table-layout:fixed;width:100%;height:80px}
.block.block-text1 .block-wrapper{font-size:0}
.block.block-text1 .block-txt{font-size:18px;font-weight:300;color:#fff;display:inline-block;width:100%;line-height:20px}

.block.block-list1{border-top:1px solid #000;font-size:0;overflow:hidden}
.block.block-list1 .block-container{margin:0 -15px}
.block.block-list1 .block-el{font-size:16px;color:#000;padding:15px 15px;font-weight:300;position:relative;box-sizing:border-box}
.block.block-list1 .block-el-bf,
.block.block-list1 .block-el-at{position:absolute;top:-999px;bottom:-999px;margin:auto;height:10px;width:1px;background:#c1c1c1}
.block.block-list1 .block-el-bf{left:0}
.block.block-list1 .block-el-at{right:0;display:none}
.block.block-list1 .block-el:first-child .block-el-bf{display:none}

/* Class:Background */
.bg-general1{background-color:#000}

/* Class:Title */
.title.title-v1{margin-bottom:30px;text-align:center}
.title.title-v1 .title-name{font-size:3.2em;font-weight:700}
.title.title-v1 .title-desc{font-size:1.4em;font-weight:300;color:#c1c1c1}

/* Class:Input */
.input.input-text{width:100%;border:solid #d5d5d5;border-width:0px 0px 1px 0px;background-color:#f7f7f7;color:#000;font-weight:300;padding:10px 12px;box-sizing:border-box;font-size:16px}
.input.input-text:focus{background:#fff;outline:none}
.input.input-text::placeholder{color:#999}

/* Class:LNB */
.lnb.lnb-v1 .lnb-container{position:relative;width:100%;top:0;left:0}
.lnb.lnb-v1.active .lnb-container{position:fixed}

/* Class:Pop-Up */
.popup{position:fixed;top:0;left:0;right:0;bottom:0;visibility:hidden;z-index:102;display:none}
.popup-position-horizontal{width:100%;height:100%;display:table;text-align:center}
.popup-position-vertical{display:table-cell;vertical-align:middle}
.popup-container{background-color:#fff;visibility:visible;border:solid #000;border-width:1px 1px 3px 1px;display:inline-block;font-size:10px;min-width:500px}
.popup-header{border:solid #000;border-width:0px 0px 1px 0px;height:51px;box-sizing:border-box;position:relative}
.popup-header-bar{height:50px}
.popup-header-title{width:100%;padding-left:15px;box-sizing:border-box}
.popup-header-title span{font-size:2em;font-weight:700;color:#000;text-align:left;display:block;box-sizing:border-box;line-height:normal}
.popup-header-button{width:50px;font-size:0}
.popup-content{max-height:calc(80vh - 51px);overflow:auto}
.popup-mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0.5;z-index:100;display:none}

/* ----------------------------------------::::COMMON::::---------------------------------------- */
#header{position:fixed;top:0;left:0;right:0;z-index:100}
.header-panel.bottom{background-color:transparent;box-sizing:border-box;border-bottom:solid transparent;border-width:0px 0px 0px 0px}
.header-panel.bottom .theme-white{display:none}
.header-panel.bottom .structure{height:120px}
.header-panel.bottom .logo img{height:60px}
#header.active .header-panel.bottom{background-color:#fff;border-bottom:solid #000;border-width:0px 0px 3px 0px}
#header.active .header-panel.bottom .theme-transparent{display:none!important}
#header.active .header-panel.bottom .theme-white{display:block}
#header.active .header-panel.bottom .structure{height:100px}
#header.active .header-panel.bottom .logo img{height:50px}

#gnb{width:100%;direction:rtl}
.gnb-content{margin:0 -40px}
.gnb-content .table{width:auto;max-width:100%;direction:ltr;border-spacing:40px 0;border-collapse:separate}
.gnb-content .menu-btn{font-size:2em;color:#fff;white-space:nowrap;display:block;font-weight:700;opacity:0.7}
.gnb-content .menu-sub{position:relative}
.gnb-content .menu-sub:hover>.menu-btn,
.gnb-content .menu-sub.active>.menu-btn{color:#fff;opacity:1}
.gnb-content .menu-sub>.menu-list{display:none;visibility:hidden;opacity:0}
.gnb-content .menu-sub:hover>.menu-list{display:block;visibility:visible;opacity:1}
.gnb-content .menu-list{position:absolute;top:100%;left:-12px;box-sizing:border-box;border:solid #000;border-width:1px 1px 3px 1px;background-color:#fff}
.gnb-content .menu-list .menu-btn{font-size:1.8em;border-bottom:1px solid #d5d5d5;padding:10px 12px;min-width:150px;text-align:left;font-weight:400;opacity:1;color:#666}
.gnb-content .menu-list .menu-btn:hover{background-color:#f7f7f7;color:#000}
.gnb-content .menu-list .menu-sub:last-child>.menu-btn{border-bottom:none}
.gnb-content .menu-list .menu-list{top:-1px;left:100%}
#header.active .gnb-content .menu-btn{color:#999;opacity:1}
#header.active .gnb-content .menu-sub:hover>.menu-btn,
#header.active .gnb-content .menu-sub.active>.menu-btn{color:#000}

#content{position:relative;z-index:0}
#content .content-panel{position:relative;box-sizing:border-box}

.footer-panel.top{background-color:rgb(153, 13, 13);color:#fff;font-size:16px;text-align:center;padding:15px 0}

/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/
/***********************************************************************************************************************************************/

@media screen and (max-width:1200px){
	/* ----------------------------------------::::RESET::::---------------------------------------- */
	html,body{font-size:16px}

	/* ----------------------------------------::::SET-UP::::---------------------------------------- */
	.size-contain{padding:0 30px}
	.mobile{display:block}
	.pc{display:none!important}

	/* Class:Space */
	.space.space-v1{height:100px}

	/* Class:Slider */
	.slider.slider-v2{margin:0 -30px;width:auto}
	.slider.slider-v2 .slider-container{margin:0;padding:0 15px;box-sizing:border-box}
	.slider.slider-v2 .slider-slide{padding:0 15px}

	.slider.slider-v3 .slider-static{height:100px;font-size:24px;padding-right:30px;line-height:30px}
	.slider.slider-v3 .slider-dynamic{height:100px}
	.slider.slider-v3 .slider-container{height:100px}

	/* Class:Button */
	.btn.btn-scrolltop{display:none}

	.btn.btn-gnb{background:url("../img/icon/menu_open_w.png") center center no-repeat;background-size:100% 100%;z-index:100;width:50px;height:50px;box-sizing:border-box;display:inline-block;position:relative;z-index:0;margin:15px}
	.btn.btn-gnb.active{background-image:url("../img/icon/menu_close_w.png")}
	#header.active #gnb>.btn.btn-gnb{background-image:url("../img/icon/menu_open_b.png")}
	#header.active #gnb>.btn.btn-gnb.active{background-image:url("../img/icon/menu_oclose_b.png")}

	/* Class:Block */
	.block.block-slide2 .block-container{height:100px}
	.block.block-slide2 .block-txt{font-size:24px;line-height:30px}

	.block.block-text1 .block-container{height:100px}
	.block.block-text1 .block-txt{font-size:24px;line-height:30px}

	.block.block-list1 .block-container{margin:0 -15px}
	.block.block-list1 .block-el{font-size:16px;padding:15px 15px}
	.block.block-list1 .block-el-bf,
	.block.block-list1 .block-el-at{height:10px}

	/* Class:GNB */
	#gnb{font-size:0;direction:ltr}
	.gnb-container{font-size:10px;position:fixed;top:0;bottom:0;right:0;z-index:102;background-color:#fff;border-left:3px solid #000;width:40%;display:none}
	.gnb-structure{height:100%}
	.gnb-header{background:#000;height:80px;font-size:0;display:table-row}
	.gnb-content .list,
	.gnb-content .list .table-td{display:block;direction:ltr}
	.gnb-content .list{overflow:auto;height:100%}
	.gnb-content .menu-btn{color:#999;display:block;width:100%;height:auto;padding:11px 30px;border-bottom:1px solid #c1c1c1;opacity:1;box-sizing:border-box;font-size:1.8em;text-align:left}
	.gnb-content .menu-sub:hover:not(.active)>.menu-btn{color:#999}
	.gnb-content .menu-sub.active>.menu-btn{color:#000}
	.gnb-content .menu-sub>.menu-list{display:block;visibility:visible;opacity:1;position:relative;border:none;left:0;margin:0;border-bottom:1px solid #c1c1c1}
	.gnb-content .menu-sub:hover>.menu-list{display:block;visibility:visible;opacity:1}
	.gnb-content .menu-sub>.menu-list .menu-btn{box-sizing:border-box;background-color:#f7f7f7;padding:7px 30px;font-size:1.6em;text-align:left;opacity:1;color:#999}
	.gnb-content .menu-sub>.menu-list .menu-btn:hover{background-color:#f7f7f7;color:#999}
	.gnb-content .menu-sub>.menu-list .menu-btn.active{background-color:#e9e9e9;color:#000}
	.gnb-mask{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;opacity:0.5;z-index:100;display:none}

	/* Class:Pop-Up */
	.popup-container{min-width:auto;width:80%}

	/* ----------------------------------------::::COMMON::::---------------------------------------- */
	.header-panel.bottom .size-contain{padding:0}
	.header-panel.bottom .structure{height:80px}
	.header-panel.bottom .logo{padding:0 30px}
	.header-panel.bottom .logo img{height:30px}
	#header.active .header-panel.bottom .structure{height:80px}
	#header.active .header-panel.bottom .logo img{height:30px}
}

@media screen and (max-width:720px){
	/* ----------------------------------------::::RESET::::---------------------------------------- */
	html,body{font-size:6px}

	/* ----------------------------------------::::SET-UP::::---------------------------------------- */
	.size-contain{padding:0 20px}

	/* Class:Space */
	.space.space-v1{height:50px}

	/* Class:Slider */
	.slider.slider-v2{margin:0 -20px}
	.slider.slider-v2 .slider-container{margin:0;padding:0 10px}
	.slider.slider-v2 .slider-slide{padding:0 10px}

	.slider.slider-v3 .slider-static{height:50px;font-size:12px;padding-right:10px;line-height:15px}
	.slider.slider-v3 .slider-dynamic{height:50px}
	.slider.slider-v3 .slider-container{height:50px}

	/* Class:Button */
	.btn.btn-gnb{margin:10px}

	/* Class:Block */
	.block.block-slide2 .block-container{height:50px}
	.block.block-slide2 .block-txt{font-size:12px;line-height:15px}

	.block.block-text1 .block-container{height:50px}
	.block.block-text1 .block-txt{font-size:12px;line-height:15px}

	.block.block-list1 .block-container{margin:0 -7px}
	.block.block-list1 .block-el{font-size:8px;padding:7px 7px}
	.block.block-list1 .block-el-bf,
	.block.block-list1 .block-el-at{height:5px}

	/* Class:GNB */
	.gnb-container{width:80%;border-width:0 0 0 2px}
	.gnb-header{height:70px}
	.gnb-content .menu-btn{padding:11px 25px;font-size:1.6em}
	.gnb-content .menu-sub>.menu-list .menu-btn{padding:7px 25px;font-size:1.4em}

	/* Class:Pop-Up */
	.popup-container{border-width:1px 1px 2px 1px}
	.popup-header{height:41px}
	.popup-header>.table{height:40px}
	.popup-header-title{padding-left:15px}
	.popup-header-title span{font-size:1.6em}
	.popup-header-button .btn.btn-close{width:40px;height:40px}
	.popup-content{max-height:calc(80vh - 41px)}

	/* ----------------------------------------::::COMMON::::---------------------------------------- */
	.header-panel.bottom .structure{height:70px}
	.header-panel.bottom .logo{padding:0 20px}
	#header.active .header-panel.bottom{border-width:0 0 2px 0}
	#header.active .header-panel.bottom .structure{height:70px}
}